:root{
--color1:#667BC6;
--color2:#fdffd285;
--color3:#219C90;
--color4:#059212;
--color5:#365E32;
--color6:#ADD899;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    box-sizing: border-box;
    padding:0;
}

body{
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width:100vw;
    /* background-color: var(--color2); */
}

header{
    width:100%;
    border: 1px solid;
}

nav{
    width: 100%;
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 2fr 6fr 2fr;
}

.logo{
    grid-column-start:1;
    grid-column-end:2;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.links{
    grid-column-start: 2;
    grid-column-end:3;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links li{
    list-style-type: none;
}

.links a{
    text-decoration: none;
    color:black;
    font-size: 1.3em;
}

.links a:hover{
    color: #365E32;
    transform: scale(1.5);
}
.payment{
    display: flex;
    justify-content: end;
    align-items: center;
}

.payment i{
    margin-right: 1.5em;
}

@media(max-width:800px){
    nav{
        display: flex;
        flex-direction: column;
        gap:1em;
    }
    .links{
        display: flex;
        flex-direction: column;
        gap:1em;
    }
    .payment{
        display: flex;
        flex-direction: column;
        gap:0.5em;
    }
}

.hero{
    width:100vw;
    height: 100vh;
    border: 1px solid;
    display: flex;
}
.banner{
    height:100%;
    width:60%;
    border: 1px solid;
    overflow: hidden;
}
.banner img{
    height: 100%;
    width:100%;
    object-fit: contain;
    padding:5%;
}

.intro{
    height: 100%;
    width:40%;
    display: flex;
    flex-direction: column;
    gap:2em;
    justify-content: center;
    align-items: center;
    /* background-color: #219C90; */
}
.intro img{
    margin-top: 5em;
    /* margin-left:1em; */
    width:70px;
    height: 20px;
}
.intro p{
    font-size: large;
    /* margin-left:1em; */
    color:rgb(97, 91, 91);
    text-align: center;
}
.intro h1{
    /* margin-left:0.1em; */
    font-size: 4rem;
    color:#365E32;
    text-align: center;
}
.intro button{
    width:100px;
    height:60px;
    /* margin-left:10em; */
    border: none;
    background-color: #059212;
    color:white;
    border-radius: 5px;
}
.intro button:hover{
    background-color: #365E32;
    transition: .2s ease;
}

@media (max-width: 850px) {
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    .banner {
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .banner img {
        width: 100%;
        height: 100%;
    }
    .intro {
        width: 100%;
        padding: 1em;
    }
    .intro img {
        width: 50px;
        height: auto;
    }
    .intro p {
        font-size: medium;
    }
    .intro h1 {
        font-size: 2rem;
    }
    .intro button {
        width: 20%;
        height: 40px;
    }
}


.cards{
    width:100vw;
    height:30vh;
    background-color:rgb(0,0,0);
    display: flex;
    justify-content: center;
    /* gap:5em; */
    align-items: center;
    gap:10px;
    padding:1em;
}

.card{
    height: 80%;
    width:20%;
    background-color: rgb(39, 36, 36);
    border-radius: 10px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    color:white;
}

.card:hover{
    transform: translateY(-5px);
    transition: .2s ease;
}
.icon{
    /* height: 100%;
    width:20%; */
    grid-row-start:1;
    grid-row-end: 3;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#059212;
}
.text1{
    /* height: 100%;
    width:80%; */
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: end;
}

.text2{
    margin-top:5px;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    margin-left:8px;
}

@media(max-width:780px){
    .cards{
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .card{
        width:50%;
    }
    .text1,.text2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.best-selling{
    height:100vh;
    width:100%;
    border: 1px solid;
}